# Dependencies
/node_modules

# Production & Build
/.next
/out
/build
/dist

# Security & Secrets (IMPORTANT)
.env
.env.local
.env.production
.env.development

node_modules/
.next/
out/
build/
.env
.env.local
.DS_Store